@charset 'UTF-8';
html{
  box-sizing: border-box;
}
body{
  background-color: lightgreen;
}
table{
  margin: 10px auto;
}
td.card{
  width: 80px;
  height: 120px;
  padding: 3px;
  background-size: cover;
  cursor: pointer;
  position: relative;
  &.back{
    //background-image: url(images/z01.gif) !important;
    top: 2px;
  }
  &.finish{
    background-image: none !important;
    cursor: default;
  }
}
#1 {
  font-size: 1.5em;
  float: left;
}
#2 {
  float: right;
  font-size: 1.0em;
}